.home{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 400px;
    height: 100vh;
}
.homeleft{
    background-image: linear-gradient(to right, #fff5bc, #cec1ff);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 2vmax;
}
.homeright{
    padding: 2vmax;
    box-sizing: border-box;
    overflow-y: auto;
}