.newGroupContainer{
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 26vw;
    padding: 1vw;
}

/* .createGroupDialog{
    width: 38vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
} */

.createGroupForm{
    /* border: 2px solid black; */
    width: 38vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createGroupForm > input{
    box-sizing: border-box;
    padding: 1vmax 2vmax;
    width: 80%;
    border-radius: 40px;
    border: 1px solid #ccc;
    margin: 1vmax;
    font: 100 1.2rem "Roboto", sans-serif;
    outline: none;
}
.searchGroupUser{
    width: 35vw;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}